
:root{
    --color1:#1e1e1e;
    --color2:#c8d8e1;
    --color3: #fefefe;
    --color4:#48b2ee; 
    --color5:#90ffff;
    --color6:#0e0e0e;
}

@font-face {
    font-family: "Inter";
    src: url(/Elium/assets/fonts/Inter-Regular.ttf);
}
*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vh;
    font-family: 'Inter', sans-serif;
    background: var(--color1);
}
.logo{
    font-size: 2.2rem;
    color:var(--color4);
}

/* Navbar */
.logo span{
    color:var(--color2);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
   
}
nav ul li a{
    text-decoration: none;
    color: var(--color2);
}
nav ul li a:hover{
    color: var(--color5);
}

/* Container */
header{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
  
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.header-right{
   width: 50%;
}
#img-right{
    width: 50%;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--color4);
   
}
h1 span{
    color: var(--color3);
}
.subtitle{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color5);
   
}
p{
    font-size: 0.9rem;
    color: var(--color2);
   
}
/* Pied de pages */
.infos {
    display: flex;
    background: var(--color6);
    border-radius: 10px;
  }
  .infos h3{
    color: var(--color2);
    padding-bottom: 10px;
}
  .infos-left {
    width: 33%;
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button {
    border: none;
    background: var(--color4);
   color: var(--color3);
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
  }
  button:hover{
    cursor: pointer;
    background: var(--color5);
    color: var(--color6);
}
  .infos-right {
    width: 67%;
  }
  .investors {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .img-container img {
    height: 60px;
  }
  
  /* Responsive */

  @media screen and (max-width: 9px){
    nav{
     
  }

    
  }
